.menu{
    // max-width: 100%;
    // margin: 40px 10px auto;
    padding: 30px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url('../../assets/food/pexels5.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    align-items: center;
    
    h2{
        margin-top: 5px;
        font-size: 28px;
        margin-bottom: 20px;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        letter-spacing: 4px;
        color:#550c3e;
        font-weight: bolder;
    }

    .category-container{
        background-color: transparent;
        color: white;

        .category-name{
            display: flex;
            overflow-y: auto;
            align-items: center;
            column-gap: 30px;
            margin-bottom: 20px;
        }
        h4{
            font-weight: bold;
            padding:8px 20px;
            white-space: nowrap;
            border-bottom: 2px solid white;
            border-top: 2px solid white;
            text-transform: uppercase;
            color: white;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.4s;

            &:hover{
                background-color: #550c3e;
                color: wheat;
            }

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 100%;
                background-color: #550c3e;
                transition: width 0.3s; 
            }
    
            &:hover::after {
                width: 100%;
            }

            &:active {
                background-color: #550c3e;
                color: wheat; 
            }
        }
        ::-webkit-scrollbar {
            height: 0px;
        } 
    }

    .menu-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:20px;
        border:2px solid #550c3e;
        min-width: 60vh;
        padding: 50px;

        .menu-item__profile{
            height:250px;
            width: 160px;
            // background:rgba(221, 166, 166, 0.4);
            background: rgb(215, 202, 177,0.5);
            // background: rgba(0,0,0,0.6);
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
            border: 2px solid #550c3e;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            transition: 0.5s ease-in;
            img{
                height:100px;
                width: 100px;
                border-radius: 50%;
                object-fit: cover;
                border:5px solid white;
                transition: 0.5s ease-in-out;
            }
            h3{
                font-size: 18px;
                text-transform: uppercase;
                color: #550c3e;
                font-weight: 800;
                padding: 10px;
                padding-bottom: 5px;
            }
            span{
                font-size: 18px;
                font-weight: 800;
                color:#550c3e;
                // padding: 5px;
            }
            button{
                padding: 5px 10px;
                margin:10px;
                border: 2px solid #550c3e;
                outline: 0;
                background-color: transparent;
                color:#550c3e;
                font-size: 10px;
                text-transform: uppercase;
                font-weight: 600;
                transition: 0.3s ease-in;
                cursor: pointer;

                &:hover{
                    background-color: #550c3e;
                    color: wheat;
                }
            }
            &:hover{
            // background:rgba(249, 147, 147, 0.449);
            background: wheat;
            transform: scale(1.1);
                img{
                    transform: rotate(360deg);
                }
            }
        }
        @media screen  and (max-width:900px){
            min-width:30vh;
            padding: 20px;
        }
    }
    @media screen  and (max-width:900px){
        padding: 10px;
        padding-top: 65px;
        padding-bottom: 50px;
    }

    @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(-10px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

    .menu-item{
        animation: fadeIn 0.9s ease-in-out;
    }
}




