$title-color: #080808;
$reserve-bg-color: black;
$reserve-hover-bg-color: #550c3e;
$reserve-hover-text-color: white;
$button-bg-color: black;
$button-hover-bg-color: wheat;
$button-hover-text-color: black;

.reserve {
  margin-top: 90px;
  margin-bottom:50px;
  box-shadow: 0px 0px 3px 3px rgb(98, 98, 98);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 30px;
  
  &:hover {
    box-shadow: 0px 0px 4px 4px #{$reserve-hover-bg-color};
    background-color: #{$reserve-bg-color};
    color: #{$reserve-hover-text-color};
    font-style: oblique;
  }
  
  form {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    
    label {
      margin-bottom: 20px;
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-style: normal;
      
      #name, #date, #time, #seats,#phone_number {
        border: 2px solid #080808;
        border-radius: 2px;
        padding-left: 5px;
        height: 44px;
        width: 280px;
      }
    }
  }
  
  img {
    width: 400px;
    height: auto;
    margin-right: 20px;
    box-shadow: 0px 0px 5px 5px white;
    
    &:hover {
      transform: scale(1.1);
    }

    @media (max-width: 768px){
      width: 100%;
      align-items: center;
      margin: 0 auto;
    }
  }

  @media (max-width: 768px){
    display: flex;
    flex-direction: column;
  }
}

.reservation-btn {
  background-color: #{$button-bg-color};
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  outline: auto 2px;
  height: 48px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: bolder;
  
  &:hover {
    background-color: #{$button-hover-bg-color};
    color: #{$reserve-hover-bg-color};
    // box-shadow: 0px 3px 6px rgb(183, 100, 100);
  }
}

.reserve-title {
  text-align: center;
  margin-top: 85px;
  color: $title-color;
  font-style: oblique;
  outline: 2px solid black;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  img {
    width: 100%;
    align-items: center;
    
    &:hover {
      width: 325px;
    }
  }
}


.reserve-body{
  &.show-confirmation {
    .confirmation-popup {
      opacity: 1;
    }
  }
}